/* Estilo para o swiper (Carrossel de imagens) */
/* Estilo exclusivo para o Swiper do Ensaio Gestante */
.swiper-ensaios {
    width: 80%;           
    max-width: 450px;    
    margin: auto 0;      
}

.swiper-ensaios .swiper-slide img {
    width: 100%;              
    aspect-ratio: 3 / 4;      
    object-fit: cover;        
    border-radius: 8px;       
    display: block;           
}

/* Responsividade */
@media (max-width: 768px) {
    .swiper-ensaios {
        width: 95%;           
        max-width: 350px;
    }

    .swiper-ensaios .swiper-slide img {
        aspect-ratio: 3 / 4;  
    }
}